<!DOCTYPE html>
<html class="h">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        .h, .h body, .h {
            margin:0;
            padding:0;
            background: #FFF;
            height: 100%;
        }
        .h #root {
            /*display:flex;*/
            /*justify-content:center;*/
            /*align-items: center;*/
        }

        #root {
            position: relative;
        }
    </style>
    <script src="//vk.com/js/api/xd_connection.js?2"  type="text/javascript"></script>
</head>
<body>
<div id="root">
</div>
</body>
</html>